<!DOCTYPE html>
<html lang="en">
<head>
  <title>SSNoC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/socket.io/socket.io.js"></script> 
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

<%- include partials/navbar_partial %>
<!--搜索框
<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>
搜索框-->


<div class="container" style="margin-top: 60px">
  <div class="col-sm-offset-5">
    <h4>Citizen Directory</h4>
  </div>
    <div class="panel group">
    <% for(var i=0; i<userList.length; i++) { %>
       <div class="row">
       <div class="panel panel-default col-sm-4 col-sm-offset-4">
        <div class="panel-heading">
            <a href="/chatroom?receiver=<%= userList[i].username %>" >      
              <% if (userList[i].isOnline === 1) { %>
                <span class="glyphicon glyphicon-plus-sign" style ="color:green;"></span>
              <% } else { %>
                <span class="glyphicon glyphicon-minus-sign" style ="color:red;"></span>
              <% } %>
                <%= userList[i].username %><span id="annalert" class="badge badge-warning" style="display:none;">!</span>
              </a>
               <a href="#"><span class="badge">42</span></a>
             


        </div>
        <div class="panel-body">
           <div class="row">
            <div>
             <%if(userList[i].status =="OK") { %>
              <span><small>Status:<div class ="xicon glyphicon glyphicon-ok-sign" style="color:green;"></div> <span>I am OK, I do not need help.</small></span>
              <% } %>
             <%if(userList[i].status =="HELP") { %>
              <span><small>Status: <div class ="xicon glyphicon glyphicon-exclamation-sign" style="color:#FFD700;"></div><span>I need help but it is not life threatening.</small></span>
              <% } %>
              <%if(userList[i].status =="SOS") { %>
              <span><small>Status: <div class ="xicon glyphicon glyphicon-plus-sign" style="color:red;"></div><span>Help me this is an emergency!</small></span>
              <% } %>
              <%if(userList[i].status =="ND") { %>
              <span><small>Status: <div style="color:gray;"></div><span>The user has not provided their status yet.</small></span>
              <% } %>
          </div>

          </div>
        </div>
      </div>
      </div>
    <% } %>
	</div>
</div>
 <script src="/js/directory.js"></script>
 <script src="/js/client.js"></script>
 <script> 
 $(document).ready(function(){
  $('#directorypage').addClass('active');
  var url = document.domain + ":8888";
    console.log(url);
    var socket = io.connect(url);
     
       socket.on("new message", function(data)
    {
    
    
    $('#annalert').show();
    
    });
});</script>
</body>
</html>