<!-- All the files that are required -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/client.js"></script>


<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- REGISTRATION FORM -->
<center><div class="text-center" style="padding:50px 0">
  <div class="logo">register</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <form id="signUpform" class="text-left" action="/signup" method="POST">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="reg_username" class="sr-only">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username">
            <span class="help-inline text-warning" id="uerror" style="display:none;"></span>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
            <span class="help-inline text-warning" id="perror" style="display:none;"></span>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password Confirm</label>
            <input type="password" class="form-control" id="repassword" name="repassword" placeholder="confirm password">
            <span class="help-inline text-warning" id="rperror" style="display:none;"></span>

          </div>

</div>
        <button type="submit" class="login-button" action="/mainpage" method="GET"><i class="fa fa-chevron-right"></i></button>
      </div>

        </div>
           <div class="col-xs-3">          
        <input type="text" class="form-control" id="createdat" name="createdat" style="display:none;">
      </div>
    </div>
      
     
    </form>
  </div>
  <!-- end:Main Form -->
</div></center>